html {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 100px);
    margin-top: 200px;
    color: white;
}

.square {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 90px;
    cursor: pointer;
}

.square:hover {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow:0px 0px 41px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 41px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 41px 0px rgba(255, 255, 255, 0.75);
}